    /* Suppression de l'ombre autour du drapeau */
    .intl-tel-input .iti__flag {
        box-shadow: none !important;
      }
      
      /* S'assurer que l'élément intl-tel-input occupe toute la largeur du parent */
      .intl-tel-input {
        width: 100%;
      }
      
      /* Annulation de la couleur de fond pour le drapeau */
      .iti--separate-dial-code .iti__selected-flag {
        background-color: transparent !important;
      }
      
      /* Largeur fixe du champ de saisie */
      #phone {
        width: 309px; /* Largeur fixe pour les écrans larges */
      }
      .intl-tel-input .iti__country {
        display: none !important;
      }
      
      
      /* Pour les petits écrans (tablettes, téléphones) */
      @media (max-width: 1024px) {
        #phone {
          width: 100%; /* Prend 100% de la largeur sur les petits écrans */
          max-width: 100%; /* Supprime la largeur maximale sur les petits écrans */
        }
      }
      
      @media (max-width: 732px) {
        #phone {
          width: 303px;
        }
      }